{% extends 'library_app/main.html' %}
{% load static %}

{% block content %}

        <div class="recent_event_area section__padding">
            <div class="container">
                {% for item in object_list %}
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="single_event d-flex align-items-center">

                            <div class="event_info">
                                <a href="{% url 'library_app:units_detail' item.pk %}">
                                    <h4>{{ item.title }}</h4>
                                </a>
                                <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i
                                        class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i
                                        class="flaticon-placeholder"></i> AH Oditoriam</span></p>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>

{% endblock %}